table{
    background-color:#6C7A89;
    border-collapse: collapse;
    
}
td{
    height: 50px;
    width: 50px;
    
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: #D2D7D3;

}

tr:nth-child(even) td:nth-child(odd){
    background-color: #D2D7D3;
    
}